export ANTHROPIC_API_KEY="{{ (bitwarden "item" "anthropic_key").notes }}"
export OPENAI_API_KEY="{{ (bitwarden "item" "openai_key").notes }}"
export UV_PUBLISH_TOKEN="{{ (bitwarden "item" "pypi_key").notes }}"
export WANDB_API_KEY="{{ (bitwarden "item" "wandb_key").notes }}"
